@import '../../assets/global_scss/variables';

.employment-card {
    width: 100%;

    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
        padding: .5rem;
        border-radius: 8px;
        background-color: $blue-bg;

        .date {
            font-size: 0.875rem;

        }

        .title {
            font-size: 1.3rem;
            font-weight: 500;

        }

        .company-location {
            font-size: 0.875rem;

        }

    }

    .job-points {

        li {
            margin-bottom: .5rem;
            list-style: inside square;
        }
    }
}