.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 2rem;

  &-links-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

    .nav-link {
      &:visited {
        color: inherit;
      }
    }
  }

  .theme-toggle {
    &:hover {
      cursor: pointer;
    }
  }
}