
.home{
    .about-me{
        .my-icon{
            width: 102px;
        }
        .name{
            font-size: 3rem;
            font-weight: 600;
           margin-top: 1rem;
        }
    }
    .skills,.sub-skilld{
        list-style: initial;
    }
 
}