@use './variables' as *;

html {
  font-size: 16px;
  font-family: "Roboto Mono", space;
  &:lang(ar){
    font-family: "Rubik", space;

  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  word-break: break-word;
  box-sizing: border-box;
}
body {
  height: auto;
}

img {
  max-width: 100%;
}


:root {
  transition: all ease-in-out .3s;
  background-color: #fff;

  &.dark {

    background-color: $dark;
  }
}

