@use '../../assets/global_scss/global-styles.scss' as *;

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1rem;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 10;

  &-links-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

    .nav-link {
      &:visited {
        color: inherit;
      }
    }
  }

  .selected-language {
    position: relative;
    width: fit-content;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background-color: $blue;
      bottom: -3px;
      z-index: 1;
      transition: all ease-in-out 0.2s;
      inset-inline-start: 0;
    }

  }

  &-languages {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;

    &:hover {
      cursor: pointer;
    }
  }

  .theme-toggle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;

    &:hover {
      cursor: pointer;
    }
  }
}

.dark {
  .navbar {
    background-color: #27272a;
  }
}