.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1rem;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 10;

  &-links-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

    .nav-link {
      &:visited {
        color: inherit;
      }
    }
  }

  .theme-toggle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;

    &:hover {
      cursor: pointer;
    }
  }
}

.dark {
  .navbar {
    background-color: #27272a;
  }
}