@import './variables';

html {
  font-size: 16px;
  font-family: "Roboto Mono", monospace;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  word-break: break-word;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}


:root {
  transition: all ease-in-out .3s;
  background-color: #fff;

  &.dark {

    background-color: #27272a;
  }
}

.separator {
  margin-block: 1rem;
  width: 100%;
  height: 1px;
  border-top: 1px solid;

}

.dashed-separator {
  margin-block: 1rem;
  width: 60%;
  height: 1px;
  border-top: 1px dashed;
  margin-inline-start: 0;
}

.external-link {

  text-decoration: none;
  position: relative;
  font-size: 1rem;
  font-weight: 600;
  color: inherit;
  width: fit-content;
  margin-inline-start: .3rem;

  &:visited {
    color: inherit;

  }

  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: $blue;
    bottom: -3px;
    z-index: 1;
    transition: all ease-in-out .2s;
    inset-inline-start: 0;

  }

  &:hover:after {
    width: 100%;
  }

  &.active:after {
    width: 100%;

  }

}